p{
    color:rgb(185, 185, 255);
    border: dashed;
    border-radius: 15px;
    background: content-box radial-gradient(rgb(218, 255, 249), rgb(227, 247, 255));
    padding: 2x;
}

img { 
    border: inset;
    border-color: rgb(128, 242, 255);
    border-radius: 100px;
}